<!-- blocks -->
<section class="block">
  <header class="block__header container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      voluptas odio minima alias id doloremque, suscipit quia nam ab animi quam,
      qui aspernatur totam nihil sed reiciendis delectus aut facere? Facere nisi
      nemo nihil beatae accusantium assumenda fugit officiis hic.
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <header class="block__header container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      voluptas odio minima alias id doloremque, suscipit quia nam ab animi quam,
      qui aspernatur totam nihil sed reiciendis delectus aut facere? Facere nisi
      nemo nihil beatae accusantium assumenda fugit officiis hic.
    </p>
  </header>
</section>
