<!-- Testimonials -->
<!-- Card -->
<div class="card testimonial">
  <!-- Grid -->
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="images/testimonial.jpg" alt="customer photo" />
      <!-- Icon -->
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <!-- Quote -->
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
        reprehenderit sequi quae, eos ratione quibusdam unde placeat veniam
        assumenda totam.
      </p>
      <footer>
        <!-- Media object -->
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Jhone Lumeo</h3>
            <p class="quote__role">Xyz company ceo</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
